html,
body {
  margin: 0;
  padding: 0;
}

.demo {
  display: flex;
  height: 100vh;
  .item {
    flex: auto;
    display: flex;
    flex-direction: column;
  }
  h1 {
    margin: 0;
  }
  textarea {
    flex: auto;
  }
}
